body
	margin 0
	padding 0
	font-family sans-serif
	
.ultimo
	background white
	.queremos
		display flex
		justify-content space-between
		.aprendiendo
			color black			
			font-size 20px
			display flex
			flex-direction column
			align-items center
			width 35%
			min-width 300px
			.inicio a 
				display flex
				text-decoration none
				color lightgrey	
				font-size 12px
				margin 15px
			a:hover
				color black				
			.nueva
				font-family TimesNewRoman
				font-weight bold
				line-height 20px 				
				Text-align center				
				margin 120px 0px 40px 0px					
			.enlaces
				display flex
				flex-direction column
				align-items center
				font-size 14px				
				ul li
					color lightgrey
					overflow hidden
					Text-align center
					margin 5px 5px 5px -30px
					a
						text-decoration none
						color lightgrey																				
				li:hover, a:hover
					color black	
				img
					margin 50px 0px
					width 70px
					height 70px
		.nuestro
					
			.blog1			
				flex-wrap wrap	
				display flex		
				justify-content center				
				.barra		
					color lightgreen			
					display flex					
					position absolute
					justify-content center
					align-items center
					font-size 40px
					margin 200px 0px 0px 0px 
					height 100px
					width 0px
					background white
					opacity 0
					-webkit-transition: width .4s;
					a
						text-decoration none
						color lightgreen				
				img
					height 300px
					width 200px	
				.bl:hover .barra
					width 200px
					opacity 1														
			.blog2			
				flex-wrap wrap	
				display flex		
				justify-content center	
				.barra 
					color lightgreen
					display flex					
					position absolute
					justify-content center
					align-items center
					font-size 40px
					margin 200px 0px 0px 0px 
					height 100px
					width 0px
					background white
					opacity 0
					-webkit-transition: width .4s;			
				img
					height 300px
					width 200px	
				.bl:hover .barra
					width 200px
					opacity 1		
			.blog3			
				flex-wrap wrap	
				display flex		
				justify-content center
				.barra 
					color lightgreen
					display flex					
					position absolute
					justify-content center
					align-items center
					font-size 40px
					margin 200px 0px 0px 0px 
					height 100px
					width 0px
					background white
					opacity 0
					-webkit-transition: width .4s;				
				img
					height 300px
					width 200px	
				.bl:hover .barra
					width 200px
					opacity 1			
			.blog4			
				flex-wrap wrap	
				display flex		
				justify-content center
				.barra 
					color lightgreen
					display flex					
					position absolute
					justify-content center
					align-items center
					font-size 40px
					margin 200px 0px 0px 0px 
					height 100px
					width 0px
					background white
					opacity 0
					-webkit-transition: width .4s;			
				img
					height 300px
					width 200px	
				.bl:hover .barra
					width 200px
					opacity 1	
footer		
	display flex
	justify-content center	
	font-size 10px
	background lightgreen
	padding 20px
	color white
	
@media screen and (min-width: 768px)

	.encabezado 
		display none