<!DOCTYPE html>
html(lang="es")
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width,user-scalable=no, initial-scale=1.0")
	link(rel="stylesheet", href="estilos.css")
	script(src="//code.jquery.com/jquery-1.11.3.min.js")

	title PAGINA WEB1

body 
	
.ultimo
		
	.queremos 
		.aprendiendo 
			.inicio<a href="#">↑ INICIO</a>
			.nueva<p> CAROLINA HERRERA <br>New York</p> 
			.enlaces
				ul
					li <a href="#">Blog</a>
					li <a href="#">Ediciones</a>
					li <a href="#">Contacto</a>
					li <a href="#">Galeria</a>
					li <a href="#">Catalogo</a>
					li <a href="#">Nosotros</a>
				<img src="http://altonivel.impresionesaerea.netdna-cdn.com/images/Estructura_2015/Estilo_de_vida/Imagen/firma-90-grados.jpg"> 
		.nuestro 
			.blog1
				.bl 	
					.barra <a href="img/249.jpg">01</a>
					<img src="img/249.jpg">
				.bl 
					.barra 02
					<img src="img/13.jpg">		
				.bl 
					.barra 03
					<img src="img/24.jpg">		
				.bl 
					.barra 04
					<img src="img/27.jpg">			
			.blog2
				.bl 
					.barra 05
					<img src="img/570.jpg">		
				.bl 
					.barra 06
					<img src="img/2015.jpg">	
				.bl 
					.barra 07
					<img src="img/2518.jpg">	
				.bl 
					.barra 08
					<img src="img/249.jpg">	
			.blog3
				.bl 
					.barra 09
					<img src="img/221.jpg">		
				.bl 
					.barra 10
					<img src="img/238.jpg">		
				.bl 
					.barra 11
					<img src="img/244.jpg">		
				.bl 
					.barra 12
					<img src="img/312.jpg">	
			.blog4
				.bl 
					.barra 13
					<img src="img/38.jpg">		
				.bl 
					.barra 14
					<img src="img/48.jpg">		
				.bl 
					.barra 15
					<img src="img/114.jpg">		
				.bl 
					.barra 16
					<img src="img/191.jpg">

				
footer Diseñado por http://www.upsocl.com/creatividad/10-vestidos-que-toda-chica-obsesionada-con-disney-querria-usar-en-una-boda/?utm_source=Retirado&utm_medium=Facebook&utm_campaign=fb 1200, 768 y 320


